/* DISPLAY GAME */
.game{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.game > *{
    padding: 15rem 2rem;
    width: 55%;
}


.display-section{
    display: flex;
    flex-direction: row;
}

.display-game{
    padding: 30%;
    border: 1px solid black;
}

.game-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    border: solid 1px black;
}
/* USER NAME TITLE */
.userNameTitle h2 p{
    display: table;
}

.display-game-header{
    display: flex;
    justify-content: space-between;
}

/* STYLE USER NAME */
.playerName__style--right{
    display: flex;
    align-items: flex-end;
    padding-right: 1rem;
}
.playerName__style--right h2{
    padding-right: 0.5rem;
}


/* RANKING SECTION */
.ranking-list{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid black;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

.button-end{
    display: none;
}
.player__list ol{
    padding: 1rem;
}

.player__list--header{
    display: flex;
    justify-content: space-around;
}
