<<<<<<< HEAD
.profile{
    display: none;
=======
.profile {
    display: flex;
>>>>>>> 3598e4898bcbc2821b82ccc07f1bfbe2600a405d
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  /* 100vh is 100% of the height of the viewport. */
}


.profile > *{
    padding: 1rem 2rem;
    background-color: rgb(204, 204, 204);
}

.input-profile {
    padding: 1rem 2rem;
}

.input-age-profile{
    padding: 1rem 2rem;
}

.submit-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: rgb(204, 204, 204);
}
.title-profile{
    background-color: rgb(204, 204, 204);
}
/* PROFILE-MENU */
.profile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    border-radius: 1rem;
    background-color: rgb(204, 204, 204);
}


/* FORM INPUT */

.form-profile label{
    display: table-cell;
    padding: 1rem;
    background-color: rgb(204, 204, 204);
}
.form-profile input {
    display: table-cell;
}
.input-profile{
    display:table-row;
    background-color: rgb(204, 204, 204);
}
